<html xmlns:th="http://thymeleaf.org">
<head>
<title>Please sign in</title>
</head>
<body>
	<div>
		<h1>Please sign in</h1>
		<br />
		<div>
			<form th:action="@{login}" method="post">
				<div th:if="${param.error}">
					<div>Invalid username or password.</div>
				</div>
				<div>
					<input type="text" name="username" id="username"
						placeholder="UserName" required="true" autofocus="true" />
				</div>
				<div>
					<input type="password" name="password" id="password"
						placeholder="Password" required="true" />
				</div>

				<div>
					<input type="submit" value="Sign In" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>