<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Library - Admin page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="form-wrapper">
		<header class="m-md-3">
			<a href="../../">Home</a>
		</header>
		<hr>
		<div class="form-center ">
			<a href="books/">All books</a>
		</div>
		<div class="form-center">
			<a href="users/">All users</a>
		</div>
		<div class="form-center">
			<a href="departments/">All departments</a>
		</div>
		<div class="form-center">
			<a href="feedbacks/">All feedbacks</a>
		</div>
		<div class="form-center">
			<a href="orders/">All orders</a>
		</div>
	</div>
	<hr>
</body>
<footer class="footer">
    <a href="javascript:history.back()">Go back </a>
    <div>&#169; 2020 Runa</div>
    <div>Feedback? Get in touch: litvinenoknastia@gmail.com</div>
</footer>
</html>