<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Changes saved</title>
<link href="../../css/styles.css" rel="stylesheet" />
<link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="form-wrapper form-center">
		<header class="m-md-3">
			<a href="../../">Home</a>
		</header>
		<h3>Changes saved</h3>
	</div>
</body>
<hr>
<footer class="footer">
    <a href="javascript:history.back()">Go back </a>
    <div>&#169; 2020 Runa</div>
    <div>Feedback? Get in touch: litvinenoknastia@gmail.com</div>
</footer>
</html>