<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Please login</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="form-wrapper" style="padding: 50px 0">
		<h1 class="form-center">Please login:</h1>
		<hr>
		<div>
			<div th:if="${param.error}">Invalid Email and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<form th:action="@{../login}" method="post">
				<div class="form-center">
					<label for="username" class="sr-only">User Name</label> <input
						type="text" name="username" id="username" class="form-control"
						placeholder="User Name" required />

				</div>
				<br />
				<div class="form-center">
					<label for="password" class="sr-only">Password</label> <input
						type="password" name="password" id="password" class="form-control"
						placeholder="Password" required />
				</div>
				<button type="submit" class="login-button login-button-login">
					<i class="fa fa-chevron-right"></i>
				</button>
				<div class="form-center">
					<label for="remember_me">Keep me logged in <input
						type="checkbox" id="remember_me" name="_remember_me"
						th:checked="true" /></label>
				</div>
				<div class="form-center">
					<p>
						forgot your password? <a href="/forgotPassword">click here</a>
					</p>
					<p>
						new user? <a href="users/adduser">create new account</a>
					</p>
				</div>
			</form>
			<div class="form-center">
				<form action="/signin/facebook" method="post">
					<input type="hidden" name="scope" value="email, public_profile" />
					<input type="image"
						th:src="@{'http://localhost:8080/img/facebookIcon.png'}"
						height="70" alt="Sign In With Facebook">
				</form>
			</div>
		</div>
	</div>
	<hr>
</body>
<footer class="footer">
	<a href="javascript:history.back()">Go back </a>
	<div>&#169; 2020 Runa</div>
	<div>Feedback? Get in touch: litvinenoknastia@gmail.com</div>
</footer>
</html>