<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Add book</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="form-wrapper">
		<h1 class="form-center">Add book to library:</h1>
		<hr>
		<form th:action="@{${id}}" th:object="${bookdto}" method="POST">
			<div class="form-center">
				<label for="isbn"> ISBN <input type="text" id="isbn"
					name="isbn" th:field="*{isbn}" class="form-control input-sm"
					required />
				</label>
			</div>
			<div class="form-center">
				<label for="isbn"> Department </label><select
					th:object="${departmentdto}" th:field="*{name}">
					<option th:each="department : ${departmentsList}"
						th:value="${department.name}" th:text="${department.name}"></option>
				</select>
			</div>
			<br />
			<div class="form-center">
				<div style="display: inline-block">
					<input type="submit" value="Add"> <input type="reset"
						value="Reset">
				</div>
			</div>
		</form>
	</div>
	<hr>
</body>
<footer class="footer">
	<a href="javascript:history.back()">Go back </a>
	<div>&#169; 2020 Runa</div>
	<div>Feedback? Get in touch: litvinenoknastia@gmail.com</div>
</footer>
</html>