<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Add book</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>Add book to library:</h1>
	<br />
	<form th:action="@{addbook}" th:object="${bookdto}" method="POST">
		ISBN: <input type="text" th:field="*{isbn}" /> <br /> 
		Department: <select	th:object="${departmentdto}" th:field="*{name}">
						<option th:each="department : ${departmentsList}" th:value="${department.name}" th:text="${department.name}"></option>
					</select> <br />
					 <input type="submit" value="Add" />
					 <input	type="reset" value="Reset">
	</form>
</body>
<a href="javascript:history.back()">Go	back</a>
</html>


