<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Add department</title>
<link href="../css/styles.css" rel="stylesheet" />
<link rel="stylesheet"
	href="/lib-web/src/main/resources/css/bootstrap.min.css">
</head>
<body>
	<h1>Create a Department:</h1>
	<br />
	<form th:action="@{/adddepartment}" th:object="${dto}" method="POST">
		Name: <input type="text" th:field="*{name}" /> <br /> <input
			type="submit" value="Create" /> <input type="reset" value="Reset">
	</form>
	</body>
<a href="javascript:history.back()" class="btn btn-back single-button">Go
	back</a>
</html>


