<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Add department</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>Create a Department:</h1>
	<br />
	<form th:action="@{adddepartment}" th:object="${dto}" method="POST">
		Name: <input type="text" th:field="*{name}" /> <br /> <input
			type="submit" value="Create" /> <input type="reset" value="Reset">
	</form>
	</body>
<hr>
<a href="javascript:history.back()">Go back</a>
</html>
