<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Add Feedback</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>Create a Feedback:</h1>
	<br />
	<form th:action="@{/addfeedback}" th:object="${dto}" method="POST">
		Rating: <input type="text" th:field="*{rating}" /> <br /> Comment: <input
			type="text" th:field="*{comment}" /> <br /> <input type="submit"
			value="Create" /> <input type="reset" value="Reset">
	</form>
	</body>
<a href="javascript:history.back()" class="btn btn-back single-button">Go
	back</a>
</html>


