<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Make order</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>Create an Order:</h1>
	<br />
	<form th:action="@{addorder}" th:object="${dto}" method="POST">
		orderDate: <input type="text" th:field="*{isbn}" /> <br /> 
		
		
		
		
		<input type="submit" value="Create" /> 
	</form>
	</body>
<hr>
<a href="javascript:history.back()">Go back</a>
</html>


