<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Add order</title>
<link href="../css/styles.css" rel="stylesheet" />
<link rel="stylesheet"
	href="/lib-web/src/main/resources/css/bootstrap.min.css">
</head>
<body>
	<h1>Create a Order:</h1>
	<br />
	<form th:action="@{/addorder}" th:object="${dto}" method="POST">
		orderDate: <input type="text" th:field="*{isbn}" /> <br /> 
		
		
		
		
		<input type="submit" value="Create" /> 
	</form>
	</body>
<a href="javascript:history.back()" class="btn btn-back single-button">Go back</a>
</html>


