<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Add user</title>
<link href="../../css/styles.css" rel="stylesheet" />
<link href="../../css/bootstrap.min.css" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
	<div class="form-wrapper">
		<h1 class="form-center">Sign up:</h1>
		<hr>
		<form th:action="@{${id}}" th:object="${dto}" method="POST"
			enctype="multipart/form-data">
			<div class="form-center">
				<label for="email">Email <input type="email"
					th:field="*{email}" class="form-control input-sm" required />
				</label>
			</div>
			<div class="form-center">
				<label for="username">User Name <input type="text"
					id="username" th:field="*{username}" class="form-control input-sm"
					required />
				</label>
			</div>
			<div class="form-center">
				<label for="department">Department <select id="department"
					th:object="${departmentdto}" th:field="*{name}">
						<option th:each="department : ${departmentsList}"
							th:value="${department.name}" th:text="${department.name}"></option>
				</select></label> <br />
			</div>
			<div class="form-center">
				<label for="file">Photo<input type="file" id="file"
					name="file" /></label>
			</div>
			<div class="form-center">
				<label for="password">Password <input name="password"
					type="password" id="password" th:field="*{password}"
					class="form-control input-sm" required />
				</label>
			</div>
			<div class="form-center">

				<label for="confirm_password">Confirm Password <input
					name="confirm_password" type="password" id="confirm_password"
					class="form-control input-sm" required /></label> <span id='message'></span>
			</div>
			<div class="form-center">
				<div style="display: inline-block">
					<input type="submit" value="Create" /> <input type="reset"
						value="Reset">
				</div>
			</div>
			<br>
		</form>
		<div class="form-center">
			<form action="/signin/facebook" method="post">
				<input type="hidden" name="scope" value="email, public_profile" />
				<input class="facebook" type="submit" value="Sign Up With Facebook" />
			</form>
		</div>
	</div>
	<hr>
</body>
<script>
	$('#password, #confirm_password').on('keyup', function() {
		if ($('#password').val() == $('#confirm_password').val()) {
			$('#message').html('Matching').css('color', 'green');
		} else
			$('#message').html('Not Matching').css('color', 'red');
	});
</script>
</body>
<footer class="footer">
    <a href="javascript:history.back()">Go back </a>
    <div>&#169; 2020 Runa</div>
    <div>Feedback? Get in touch: litvinenoknastia@gmail.com</div>
</footer>
</html>