<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Books page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Our Books:</h1>
	<a href="addbook">Add Book</a>
	<br>
	<a href="../">Home</a>
	<br />
	<table border="1" >
	<caption></caption>
		<tr>
			<th id="id">Id</th>
			<th id="isbn">Isbn</th>
			<th id="quantityInLibrary">QuantityInLibrary</th>
			<th id="quantityAvailable">QuantityAvailable</th>
			<th id="rating">Rating</th>
			<th id="departments">Department</th>
			<th id="bookDetails.name">Name</th>
			<th id="bookDetails.author">Author</th>
			<th id="bookDetails.picture">Cover</th>
			<th id="bookDetails.description">Description</th>
			<th id="for.actions"></th>
		</tr>
		<tr>
		<tr th:each="book : ${bookList}">
			<td th:text="${book.id}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.quantityInLibrary}"></td>
			<td th:text="${book.quantityAvailable}"></td>
			<td th:text="${#numbers.formatDecimal(book.rating,0,2)}"></td>
			<td><span th:each="department : ${book.departments}"> <span
					th:text="${department.name}"> </span>
			</span></td>
			<td th:text="${book.bookDetailsDto.name}"></td>
			<td th:text="${book.bookDetailsDto.author}"></td>
			<td><img th:src="@{${book.bookDetailsDto.picture}}" height="200" alt="Cover"/></td>
			<td th:text="${book.bookDetailsDto.description}"></td>
			<td><a th:href="@{${book.id}}">See more</a> <br>
		</tr>
	</table>
</body>
<hr>
<a href="javascript:history.back()">Go back</a>
</html>