<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Departments page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Our Departments:</h1>
	<a href="http://localhost:8080/departments/adddepartment">Add Department</a>
	<br>
	<a href="http://localhost:8080">Home</a>
	<br />
	<table border="1" >
	<caption></caption>
		<tr>
			<th id="id">Id</th>
			<th id="name">Name</th>
		</tr>
		<tr>
		<tr th:each="department : ${departmentList}">
			<td th:text="${department.id}"></td>
			<td th:text="${department.name}"></td>
		</tr>
	</table>
	</body>
	<hr>
<a href="javascript:history.back()" >Go back</a>
</html>	