<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Feedbacks page</title> 
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Our Feedbacks:</h1>
		<a href="../">Home</a>
		<br />
	<table border="1">
	<caption></caption>
		<tr>
			<th id="id">Id</th>
			<th id="bookId">Book Id</th>
			<th id="rating">rating</th>
			<th id="userName">userName</th>
			<th id="comment">comment</th>
			<th id="forActions"></th>
		</tr>
		<tr>
		<tr th:each="feedback : ${feedbackList}">
			<td th:text="${feedback.id}"></td>
			<td th:text="${feedback.bookId}"></td>
			<td th:text="${feedback.rating}"></td>
			<td th:text="${feedback.userName}"></td>
			<td th:text="${feedback.comment}"></td>
			<td><a th:href="@{${feedback.id}}">See more</a> <br>
		</tr>
	</table>
</body>
<a href="javascript:history.back()" >Go
	back</a>
</html>