<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Orders page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Our Orders:</h1>
	<a href="http://localhost:8080">Home</a>
	<br />
	<table border="1">
	<caption></caption>
		<tr>
			<th id="orderDate">orderDate</th>
			<th id="dueDate">dueDate</th>
			<th id="isFinished">isFinished</th>
			<th id="pisProlonged">isProlonged</th>
			<th id="book">book</th>
			<th id="user">user</th>
		</tr>
		<tr>
		<tr th:each="order : ${orderList}">
			<td th:text="${order.orderDate}"></td>
			<td th:text="${order.dueDate}"></td>
			<td th:text="${order.Finished}"></td>
			<td th:text="${order.Prolonged}"></td>
			<td th:text="${order.bookDto.isbn}"></td>
			<td th:text="${order.userDto.username}"></td>
		</tr>
	</table>
	</body>
<a href="javascript:history.back()" >Go back</a>
</html>