<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Users page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Our Users:</h1>
	<a href="../">Home</a>
	<table border="1">
	<caption></caption>
		<tr>
			<th scope="col">User name</th>
			<th scope="col">Photo</th>
			<th scope="col">Email</th>
			<th scope="col">Department</th>
			
		</tr>
		<tr>
		<tr th:each="user : ${userList}">
			<td th:text="${user.username}"></td>
			<td ><img th:src="@{'../img/' + ${user.username} + '.png'}"
				height="200" alt="Avatar" /></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.departmentName}"></td>
		</tr>
	</table>
</body>
<hr>	
<a href="javascript:history.back()">Go back</a>
</html>