<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Users page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>Our Users:</h1>
	<a href="adduser">Add User</a>
	<table border="1">
		<tr>
			<th id="username">User name</th>
			<th id="email">Email</th>
			<th id="department">Department</th>
		</tr>
		<tr>
		<tr th:each="user : ${userList}">
			<td th:text="${user.username}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.departmentName}"></td>
		</tr>
	</table>
</body>
<a href="javascript:history.back()">Go back</a>
</html>