<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Department page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<a href="http://localhost:8080">Home</a>
	<h1>Are you sure you want to delete this department?</h1>
	<br />
	<div class="col-sm-4">
		<div class="form-group">
			Name: <p th:text="${department.name}"></p>
		</div>
	</div>
	<form th:action="@{${department.id}}" th:object="${department}"
		method="POST" enctype="multipart/form-data">
		
		<div class="col-sm-4">
			<input type="submit" value="Delete Department" />
		</div>
		</form>
</body>

<hr>
<a href="javascript:history.back()">Go back</a>
</html>

