<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Home page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link rel="stylesheet"
	href="/lib-web/src/main/resources/css/bootstrap.min.css">
</head>
<body>
	<a href="login">Sign In</a>
	<br />
	<a href="users/adduser">Sign Up</a>
	<br />
	<a href="books/">All books</a>
	<br />
	<a href="users/">All users</a>
	<br />
	<a href="departments/">All departments</a>
	<br />
	<a href="feedbacks/">All feedbacks</a>
	<br />
	<a href="orders/">All orders</a>
	<br />
	<a href="roles/">All roles</a>
	<br />
	</body>
</html>