<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Library - Home page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="col-sm-4">
		<div class="form-group">
			<a href="login">Sign In</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<a href="users/adduser">Sign Up</a>
		</div>
	</div>
	<hr>
	<div class="col-sm-4">
		<div class="form-group">
			<a href="books/">All books</a>
		</div>
	</div>
	<div sec:authorize="isAuthenticated()" class="col-sm-4">
		<div class="form-group">
			<a href="users/{id}">My profile</a>
		</div>
	</div>
	<div sec:authorize="hasRole('ADMIN')" class="col-sm-4">
		<div class="form-group">
			<a href="admin">Admin page</a>
		</div>
	</div>
	<hr>
	<div sec:authorize="isAuthenticated()" class="col-sm-4">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
</body>
</html>