<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Home page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link rel="stylesheet"
	href="/lib-web/src/main/resources/css/bootstrap.min.css">
</head>
<body>
	<a href="login">Sign In</a>
	<br />
	<a href="adduser">Sign Up</a>
	<br />
	<a href="allbooks">All books</a>
	<br />
	<a href="allusers">All users</a>
	<br />
	<a href="alldepartments">All departments</a>
	<br />
	<a href="allfeedbacks">All feedbacks</a>
	<br />
	<a href="allorders">All orders</a>
	<br />
	<a href="allroles">All roles</a>
	<br />
	<script src="/lib-web/src/main/resources/js/jquery-3.4.1.min.js"></script>
	<script src="/lib-web/src/main/resources/js/bootstrap.min.js"></script>
</body>
</html>