<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Please login</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div>
		<h1>Please login:</h1>
		<div>
			<div th:if="${param.error}">Invalid Email and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<form th:action="@{/login}" method="post">

				<div>
					<label> User Name : <input type="text" name="username"
						id="username" required autofocus />
					</label>
				</div>
				<div>
					<label> Password: <input type="password" name="password"
						id="password" />
					</label>

				</div>
				<label for="remember-me">Remember Me?</label> <input type="checkbox"
					id="remember-me" name="obscure-remember-me" th:checked="true" />
				<div>
					<input type="submit" value="Sign In" />
				</div>
			</form>

			<form action="/signin/facebook" method="post">
				<input type="hidden" name="scope" value="email, public_profile" />
				<input type="submit" value="loginWithFacebook" />
			</form>



		</div>
	</div>
	<a href="/adduser">Add new user</a>
</body>
<hr>
<a href="javascript:history.back()">Go back</a>
</html>