<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Book page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Book details:</h1>
	<a href="http://localhost:8080/books/">All books</a>
	<br />
	<table border="1">
	<caption></caption>
		<tr>
			<th id="id">Id</th>
			<th id="isbn">Isbn</th>
			<th id="quantity">Quantity</th>
			<th id="rating">Rating</th>
			<th id="department">Department</th>
			<th id="bookDetails.name">Title</th>
			<th id="bookDetails.author">Author</th>
			<th id="bookDetails.picture">Cover</th>
			<th id="bookDetails.description">Description</th>
		</tr>
		<tr>
		<tr>
			<td th:text="${book.id}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.quantity}"></td>
			<td th:text="${book.rating}"></td>
			<td th:each="department : ${book.departments}"><span
				th:text="${department.name}"></span></td>
			<td th:text="${book.bookDetails.name}"></td>
			<td th:text="${book.bookDetails.author}"></td>
			<td><img th:src="@{${book.bookDetails.picture}}" height="200" alt="Cover" /></td>
			<td th:text="${book.bookDetails.description}"></td>
		</tr>
	</table>
</body>
<hr>
<a href="javascript:history.back()" >Go	back</a>
</html>