<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Library - User page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="form-wrapper">
		<header class="m-md-3">
			<a href="../../">Home</a> | <a href="../orders/my">My orders</a> | <a
				href="../feedbacks/my">My feedbacks</a>
		</header>
		<hr />
		<h1 class="form-center" th:text="'Hello, ' + ${user.username}"></h1>
		<hr />
		<h3 class="form-center">My personal info:</h3>
		<table>
			<caption></caption>
			<thead>
				<tr>
					<th scope="col"></th>
				</tr>
			<tbody>
				<tr>
					<td rowspan="4"><img
						th:src="@{'http://localhost:8080/img/' + ${user.username} + '.png'}"
						height="300" alt="Avatar" /></td>

					<td class="font-weight-bold">Id</td>
					<td th:text="${user.id}"></td>
				</tr>
				<tr>
					<td class="font-weight-bold">Name</td>
					<td th:text="${user.username}"></td>
				</tr>
				<tr>
					<td class="font-weight-bold">Email</td>
					<td th:text="${user.email}"></td>
				</tr>
				<tr>
					<td class="font-weight-bold">Department</td>
					<td th:text="${user.departmentName}"></td>
				</tr>
				<tr>
					<td><a sec:authorize="isAuthenticated()"
						th:href="@{'edit/' + ${user.id}}" class="btn btn-light">Edit </a>
					</td>
			</tbody>
		</table>
	</div>
	<hr />
</body>
<footer class="footer">
	<a href="javascript:history.back()">Go back </a>
	<div>&#169; 2020 Runa</div>
	<div>Feedback? Get in touch: litvinenoknastia@gmail.com</div>
</footer>
</html>