<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Library - Order page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>Thank you for returning the book.</h1>
	<h3>Order details:</h3>
	<a href="../../">Home</a>
	<br />
	<table border="1">
		<caption></caption>
		<tr>
			<th id="id">Id</th>
			<th id="orderDate">Order date</th>
			<th id="dueDate">Due date</th>
			<th id="bookDto.name">Name</th>
			<th id="bookDto.author">Author</th>
			<th id="userDto.name">User Name</th>
			<th id="userDto.email">User Email</th>
			<th id="isProlonged">is Prolonged</th>
			<th id="isFinished">is Finished</th>
		</tr>
		<tr>
		<tr>
			<td th:text="${order.id}"></td>
			<td th:text="${order.orderDate}"></td>
			<td th:text="${order.dueDate}"></td>
			<td th:text="${order.bookDto.bookDetailsDto.name}"></td>
			<td th:text="${order.bookDto.bookDetailsDto.author}"></td>
			<td th:text="${order.userDto.username}"></td>
			<td th:text="${order.userDto.email}"></td>
			<td th:text="${order.Prolonged}"></td>
			<td th:text="${order.Finished}"></td>
		</tr>
	</table>
</body>
</html>