<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
<title>Error page</title>
<link href="../css/styles.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="form-wrapper">
		<a href="../">Home</a>
		<hr>
		<h1 class="form-center">Sorry, you do not have sufficient permissions to view this
			page</h1>
	</div>
</body>
<hr>
<footer class="footer">
    <a href="javascript:history.back()">Go back </a>
    <div>&#169; 2020 Runa&#169; 2020 Runa</div>
    <div>Feedback? Get in touch: admin@gmail.com</div>
</footer>
</html>